.env
*.bak
*~
__pycache__/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
mlruns/
.DS_Store

# venvs
.venv/
venv/

# MLflow
.mlflow/
mlruns/
# --- Data managed by DVC ---
data/**
!data/**/*.dvc
!data/**/.gitkeep
.env
*.env
# --- Data managed by DVC ---
data/**
!data/**/*.dvc
!data/**/.gitkeep

# Env & secrets
.env
*.env
