# === Core PyData stack ===
numpy
pandas
scipy
matplotlib
seaborn
scikit-learn

# === Notebooks ===
jupyterlab

# === API ===
fastapi
uvicorn[standard]

# === Experiment tracking / monitoring ===
mlflow
evidently

# === Testing ===
pytest

# === Herramientas de scaffolding (dev) ===
cookiecutter-data-science

# === DVC / S3 ===
# dvc[s3]
# boto3
# s3fs
